/* $rojito: ##EF5350; */

@keyframes fly-bottom {
    from {
	    margin-top: 20%;
	    opacity: 0;
	  }

}
@keyframes fade-in{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes complete{
	from{
		background-color: #fff;
	}
	to{
		background-color: #cff3f6;
	}
}

body{
	color: #4A4A4A;
	background: #f8f8f8;

}
a{
	color: #4A4A4A;
}
h1,h2,h3,h4,h5{
	font-weight: 800;
}

.header .button{
	margin: 0 2px;
}

.blackwrap{
	background-image: url(../images/jlwvautloaq-dustin-lee-sm.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow-y: scroll;
}
header.landing-banner{
	overflow: visible;
	height: auto;
	text-align: center;
	clear: both;
	margin-top: 10%;
	-webkit-animation: fly-bottom 1s 0 ease-out; /* Safari 4+ */
  -moz-animation:    fly-bottom 1s 0 ease-out; /* Fx 5+ */
  -o-animation:      fly-bottom 1s 0 ease-out; /* Opera 12+ */
  animation:         fly-bottom 1s 0 ease-out; /* IE 10+, Fx 29+ */
}
.icon img{
	width: 84px;
	height: auto;
}
.logo-lg{
	/* Todo listo: */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 52px;
	color: #fff;
	letter-spacing: 2px;
	margin-bottom: 10px;
	text-shadow: 1px 1px 0 #EF5350;
	text-transform: lowercase;
}
h2.leyend{
	/* organizador de tareas */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 5.34px;
	font-style: italic;
}
.landing-buttons{
	text-align: center;
	width: 100%;
	margin-top: 40px;	
}
.landing-buttons a{
	margin: 0 10px 40px 0;
}

a.signup{
	background: #50E3C2;
	border: 1px solid #979797;
	border-radius: 4px;
	color: #226052;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.45);
}
a.signin{
	background: #5CCE4B;
	border: 1px solid #62905b;
	border-radius: 4px;
	color: #2B6023;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.45);
}

.main{
	padding: 1em 0;
	margin-bottom: 40px;
	min-height: 400px;
}
header.header{
	padding-top: 30px;
/* 	background: url('../images/giftly.png') repeat; */
	text-align: center;
}
.button{
	background: #fff;
}
.logo{
	/* todo listo: */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font: 0/0;
	background: url('../images/icon-sm.svg') no-repeat;
	display: inline-block;
	height: 44px;
	width: 44px;
	text-indent: -2000px;
	overflow: hidden;
	float: left;
	text-transform: lowercase;
}
.no-svg .logo{
	background: url('../images/icon-sm.png') no-repeat
}
.welcome{
	padding: 0.5em 1.2em;
	background: #f0d4d3; 
	color: #613d3d;
	margin-bottom: 1em;
	font-size: 0.9em;
}
.welcome a.logout{
	margin-left: 8px;
	font-size: 0.8em;
	
}
.usermenu ul{
	list-style: none;
	float: right;
	margin-top: 10px;
}
.usermenu ul li{
	display: inline;
	
}
.usermenu a.action-btn{
	padding: 10px 15px;
	border: 1px solid #eaeaea;
	text-decoration: none;
	font-size: 14px;
	margin: 0 4px;
	background-color: #EF5350;
	color: #fff;
}
.usermenu a.action-btn:hover{
	background-color: rgba(240, 82, 80, 0.51);
	color: #EF5350;
}

.group{
	margin-bottom: 1em;
	display: block;
	overflow: auto;
}
h4.group-title{
	font-weight: 800;
	margin: 1em 0;
	text-shadow: none;
	width: 80%;
	font-size: 1.1em;
	padding: 0 1%;
}
.item {
	background: #FFFFFF;
	border: 1px solid #CDCACA;
	padding: 0.5em 1em;
	margin-top: -1px;
}
.fa-square-o,
.fa-check-square-o{
	margin-left: -1.5em;
	margin-right: 0;
}
.empty{
	background: #FFE0D6;
}
.alert{
	background: #83d079;
}
.task-title{
	font-weight: 400;
	display: inline;
	margin-right: 0.5em;
	font-size: 0.8em;
	line-height: 1!important;
}
.deadline{
	color: #9B9B9B;
	white-space: nowrap;
	font-size: 10px;
	white-space: pre;
}
.complete{
	background-color: #cff3f6;
/*
	animation-name: complete;
	animation-duration: 1s;
*/
}
.complete a.edit{
/* 	visibility: hidden; */
	display: none;
}
.complete .task-title{
	text-decoration: line-through;
	color: #669498;
}
.complete .deadline{
	display: none;
}
/*
.complete .fa-check-circle{
	color: #E64A19;
}
*/
.complete strong{
	visibility: hidden;
}
.editmenu-g{
	margin: 0;
	padding: 0;
	display: inline;
	width: 20%;
	clear: right;
	color: #cecece;
	font-size: 0.5em;
	text-shadow: none;
}
.editmenu-g a{
	display: inline;
	margin: 0 0.6em;
	vertical-align: middle;
}
.item.editmenu {
		list-style: none;
		padding: 0;
		margin: 20px 0 0 0;
		text-align: center;
		font-size: 10px;
	
}

.item .editmenu li{
	display: inline;
	margin: 0.5em;
}
.item .editmenu a,
.editmenu-g a{
	text-decoration: none;
	color: #bcbcbc;
	font-weight: 100;
}
.item .editmenu a:hover,
.editmenu-g a:hover{
	color: #605f5f;
}
/*
section.item{
	position: relative;
	top:-100px;
}
*/

.form-box{
	background: #d6e6ef;
	border: 1px solid #99b0b8;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 2em;
}
form.done{
	display: inline;
	margin: 0;
}
div.ui-datepicker{
 font-size:14px;
 line-height: 1;
}
.footwrap{
	background: rgba(46, 49, 58, 0.6);
	padding: 0.5em 0;
	color: #c6d4f3; 
	width: 100%;
	font-size: 0.7em;
	position: fixed;
	bottom: 0;
}
.footwrap p{
	margin: 0;
}
.fixed{
	position: fixed;
	bottom: 0;
}
.footwrap a{
	color: #d3d3d3;
}
a.plus{
	display: block;
	width: 30px;
	height: 30px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50%;
	border-radius: 50px;
	padding: 4px;
	border: 1px solid #c4c2c2;
	line-height: 2;
	background: #fff;
	transition: all 200ms;
}
a.plus:hover{
	-ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
  transform: rotate(360deg);
  border: 1px solid #909090;
/*   color: #E64A19; */
}
.terms{
	line-height: 1;
	margin-left: 0.1em;
}
quote{
	font-size: 1.2em;
	font-style: italic;
	font-weight: 400;
}

/***************************** Mobile first queries ********************************/

/* Larger than mobile */
@media (min-width: 400px) {
	.blackwrap{
		background-image: url(../images/jlwvautloaq-dustin-lee-md.jpg);
	}
	.logo-lg{
		/* Todo listo: */
		font-size: 64px;	
		
	}
	h2.leyend{
		/* organizador de tareas */
		font-size: 18px;
	}
	h4.group-title{
		font-size: 1.2em;
	}
	.item{
		padding: 0.5em 1em;
	}
	.task-title{
		font-size: 0.9em;
	}
}

/* Larger than phablet */
@media (min-width: 550px) {
	.blackwrap{
		background-image: url(../images/jlwvautloaq-dustin-lee-lg.jpg);
	}
	.logo{
		/* todo listo: */
		font-size: 30px;
		color: #EF5350;
		letter-spacing: 0.62px;
		background: url('../images/icon-sm.svg') no-repeat;
		display: inline-block;
		height: 44px;
		width: auto;
		line-height: 1.5;
		padding-left: 50px;
		text-indent: 0;
		overflow: visible;
	}
	
	h4.group-title{
		font-size: 1.4em;
	}
	.item .editmenu{
		text-align: right;
	}
	.item{
		padding: 1em 2em;
	}
	.task-title{
/* 		font-size: 1em; */
	}
	.deadline{
		font-size: 12px;
	}
	header.header{
		text-align: left;
	}
	.usermenu{
		float: right;
	}

}

/* Larger than tablet */
@media (min-width: 750px) {
	.icon img{
		width: 128px;
		height: auto;
	}
	.logo-lg{
		/* Todo listo: */
		font-size: 96px;	
		text-shadow: 2px 3px 0 #EF5350;
	}
	
	h4.group-title{
		font-size: 1.6em;
	}
	.task-title{
		font-size: 1.1em;
	}
	.item .editmenu{
		font-size: 12px
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.blackwrap{
		background-image: url(../images/jlwvautloaq-dustin-lee.jpg);
	}
	.task-title{
		font-size: 1.2em;
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
